<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="enterpriseFormGroup">
    <form [formGroup]="enterpriseFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enterprise name" formControlName="name" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="addressFormGroup" label="Fill out your address">
    <form [formGroup]="addressFormGroup">
      <mat-form-field appearance="fill" class="example-stepper-form-field" >
        <mat-label>Street</mat-label>
        <input matInput formControlName="street" placeholder="Ex. Garcia St"
              required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="phoneFormGroup" label="Fill out your phone">
    <form [formGroup]="phoneFormGroup">
      <mat-form-field appearance="fill" class="example-stepper-form-field" >
        <mat-label>Number</mat-label>
        <input matInput formControlName="number" placeholder="Ex. 22966452"
              required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="saveForm()" matDialogClose>Save</button>
      <button mat-button matDialogClose="">Close</button>
    </div>
  </mat-step>
</mat-stepper>
