<section>
  <mat-card>
    <mat-card-content>Enterprise</mat-card-content>
  </mat-card>
</section>
<mat-form-field appearance="fill">
  <mat-label>Enter your name</mat-label>
  <input matInput
    placeholder="Enterprise name"
    [formControl]="name"
    [(ngModel)]="enterprise.name"
    required
    (blur)="disableSaveBtn()">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Enter your phone</mat-label>
  <input matInput
    placeholder="Enterprise phone"
    [formControl]="phone"
    [(ngModel)]="enterprise.phone"
    required
    (blur)="disableSaveBtn()">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Enter your address</mat-label>
  <input matInput
    placeholder="Enterprise address"
    [formControl]="address"
    [(ngModel)]="enterprise.address"
    required
    (blur)="disableSaveBtn()">
</mat-form-field>
<div>
  <button mat-button (click)="saveForm()" matDialogClose [disabled]="isDisabledSaveBtn">Save</button>
  <button mat-button matDialogClose="">Close</button>
</div>
